<h2><%= @ingredient.name.capitalize %></h2>

<h1>Belongs to:</h1>

<% @ingredient.cocktails.each do |cocktail| %>
  <p>Rating: <%= cocktail.name %>  (<%= ingredient.cocktail.dose %> dose(s)<p>
<% end %>

<%#= bootstrap_form_for [@restaurant, @review] do |f| %>
  <%#= f.text_field :content %>
  <%#= f.text_field :rating %>
  <%#= f.submit %>
<%# end %>

<%= link_to "back",
  restaurants_path,
  {class: "btn btn-primary"} %>